html {
    box-sizing: border-box;
}
*, *:before,*:after {
    box-sizing: inherit;
}


body {
    
    max-width: 100%;
    margin: 0;
    font-family: Roboto;
}

/* Header */

.header {
    background-color: #1F2937;
    padding: 5px;
    color: #f9faf8;
    flex-wrap: nowrap;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.headerLogo {
    margin-left: 200px;
}
.headerLinks {
    align-self: center;
    margin-right: 200px;
}

/* Main */

.firstSec {
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 50px;
    justify-content: center;
}

.fiSecLeft {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.heroMainText {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
    align-self: flex-end;
}

.heroImage {
    margin-left: 40px;
}

.heroButton {
    background-color: #3882F6;
    color: #f9faf8;
    border:none;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
     font-weight: bold;
     align-self: flex-end;
}

/* Second Section */



.secondSec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secInfoHeader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 50px;
}

.secSecBoxes {
    flex-direction: row;
    display: flex;
}

.secContainer {
    margin: 20px;
    width: 150px;
}

.box {
    border:solid 3px #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
  
}


/* Third Section  */

.thirdSec {
    background-color: #E5E7EB;
    display: flex;
    text-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.quoteText {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 800px;
    margin: 0;
}

.quoteAuthorText{
    align-self: flex-end;
    margin-right: 200px;
    font-size: 18px;
    font-weight: bold;

}

/* Fourth Section */

.fourthSec {
    display: flex;
    justify-content: center;
}

.fourSecSign {
    margin: 100px 0;
    display: flex;
    background-color: #3882F6;
    padding: 50px;
    color: #f9faf8;
    width: 1000px;
    justify-content: space-around;
}
.fourSecHeroText {
    font-size: 25px;
    font-weight: 900;
    margin: 0;
}

.fourSecSubText {
    margin: 0;
}

.fourSecSignUpButton {
    border: solid 2px #f9faf8;
    border-radius: 7px;
    align-self: center;
    color: #f9faf8;
    background-color: #3882F6;
    padding: 7px 25px;
    font-weight: bold;
    font-size: 17px;
}


/* Footer */

.footer {
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    margin: 0;
    justify-content: center;
    padding: 30px;
}

.footerText {
    margin: 0;
}


